
div.flink-vc.toast
    width: 300px
    position: relative
    padding: 20px
    color: $flink-color-white
    
    &[data-type="success"]
        background-color: $flink-color-success
    
    &[data-type="warning"]
        background-color: $flink-color-warning
    
    &[data-type="error"]
        background-color: $flink-color-error
    
    &[data-type="info"]
        background-color: $flink-color-info

    > div.bar
        z-index: 10000
        width: 100%
        height: 5px
        background-color: rgba(255, 255, 255, .5)
        position: absolute
        bottom: 0
        left: 0
        
    > h1.title
        font-size: 13px
        margin-bottom: 5px

    > p.message
        font-size: 12px

    